h1 {
    text-align: center;
    background: yellow;
}

.footer {
    background-color: black;
    color: wheat;
    height: 100px;
    width: auto;
}

a {
    text-decoration: none;
    color: black;
}

#nav {
    text-align: center;
}